doctype html
html
    head
        title=Audio to mp3 converter
        script(type='text/javascript' src='js/vendors/dropzone.js').

    body
        form(action='/mp3' id='audio-file-upload-form' class='dropzone' )