doctype html
html
    head
        script(type='text/javascript' src='js/vendors/dropzone.js').

    body
        form(action='/mp3' id='audio-file-upload-form' class='dropzone' )
            div(class='fallback')
                input(name='file' type='file' multiple)
